body {
  background: rgba(150, 164, 179, 0.877);
  
}

.App {
  text-align: center;
 
}

table {
  background: white;
  padding: 100px;
}

#aluno {
  color: rgb(8, 177, 233);
  display: flex;
  justify-content: center;
}

#nomeAluno {
  border-bottom: 2px solid black;
  background: white;
  margin-bottom: 0;
  width: 36.7vw;
  padding: 10px;
  
}


.corpo {

    display: flex;
    justify-content: center;
    font-family:initial;
    font-size: 25px;
    font-weight: bold;
  
}

.titulo {

  background: lightblue;
  border: 2px solid black;
  padding: 15px;
}

.subtitulo {
  background: darkblue;
  color: aliceblue;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.conteudo {

  background: lightgray;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  
}

.notas {
  background: lightgrey;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.final {
  background: rgb(48, 209, 48);
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}