@charset "UTF-8";

Body {
    padding: 2em;
    background-color: bisque;
}

header {
    background-color: black;
    margin: 2%;
    border-radius: 40px;
}

#cabeça {
    height: 200px;
    width: 300px;
}


/* Dois Botões "Home - Próximo */
#btn {
    padding: 4px;
    margin-left: 40px;

}

.btn1 {
    border-style: groove;
    text-decoration: none;
    color: wheat;
    margin-right: 1.5em;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
}

/* Primeira parte da Body com foto velozes furioses 09 */
#parte1 {
    padding: 20px;
    border: 2px solid black;
    border-radius: 40px;
    margin: 2%;
}

#img1 {

    padding: 20px;
    border-width: 1%;
    border: 1px solid black;
    width: 250px;
}

/* Segunda parte com imagem ao lado esq - Elenco Velozes e furiosos 8 */
#parte2 {
    padding: 20px;
    border-width: 2%;
    border: 2px solid black;
    border-radius: 40px;
    margin: 2%;
    height: 300px;
}

#img2 {
    float: left;
    padding: 8px;
    border-width: 1%;
    border: 1px solid black;
    width: 250px;
}

/* Configuração de todas as Imagens */
img {
    width: 250px;
    height: 250px;
}


/* Terceira parte do lado dir - 
Velozes e Furiosos 7 */
#parte3 {

    padding: 20px;
    border-width: 2%;
    border: 2px solid black;
    border-radius: 40px;
    margin: 2%;
    height: 300px;
}

#img3 {
    float: right;
    padding: 8px;
    border-width: 1%;
    border: 1px solid black;
    width: 250px;
}

/*  Quarta parte imagens dos dois lados - Velozes e furiosos 6 - Bastidores*/
#parte4 {
    padding: 20px;
    border-width: 2%;
    border: 2px solid black;
    border-radius: 40px;
    margin: 2%;
    height: 300px;
}

#img4 {
    float: left;
    padding: 8px;
    border-width: 1%;
    border: 1px solid black;
    width: 250px;
}

#img5 {
    float: right;
    padding: 8px;
    border-width: 1%;
    border: 1px solid black;
    width: 250px;
}


/* quinta parte lista ordenada */
#parte5 {
    padding: 20px;
    border-width: 2%;
    border: 2px solid black;
    border-radius: 40px;
    margin: 2%;
    height: 300px;
}

#letras{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    text-align: center;
}