.esqueci {
    color: #c49;
}

#lembrei {
    color: blueviolet;
}

#preço {
    color: #b29;
}

* {
    font-family: 'Noto Sans TC', sans-serif;
    background-color: blanchedalmond;
}

section p {
    color: darkgreen;
    background-color: black;
    font-family: 'Lobster', cursive;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Pacifico', cursive; text-align: center;
}