@charset "UTF-8";

body {
    margin: 1cm;
    padding: 5mm;
    background-image: url(https://media.giphy.com/avatars/CentraldefasGL/EOFIQxf7kucB.gif);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 50%;

}

h1 {
    text-align: center;
    font-size: 2rem;
    font-family: fantasy;
    font-weight: bold;
    border: 2px solid rgba(179, 121, 14, 0.747);
    border-radius: 20ex;
    color: rgb(8, 8, 8);
    margin-bottom: 5vmax;
    width: 20vmax;
    margin-left: 350px;
    background-color:  rgba(194, 194, 194, 0.589);
    border-right-width: 10px ;
    border-bottom-width: 10px;
}

h2 {
    text-indent: 5vmax;
    font-style: oblique;
    font-family: fantasy;
    border-bottom: 1vmin solid rgba(179, 121, 14, 0.747);
    border-left: 1vmin solid rgba(179, 121, 14, 0.747);
    border-bottom-left-radius: 40pt;
    width: 50vmax;
    border-radius: 40pt;
    background-color: rgba(194, 194, 194, 0.589);

}

p {
    padding: 3ex;
    background-color: rgba(55, 55, 248, 0.329);
    border-radius: 40pt;
    font-size: 20px;
    font-family: cursive;
}

nav {
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    margin-inline-start: 20px;
    text-decoration: none;
    font-size: 3ex;
    border: 2px solid rgba(179, 121, 14, 0.747);
    padding: 8px;
    color: white;
    background-color: black;
    font-family: sans-serif;
    border-radius: 10ch;
}

hr {
    margin-bottom: 8ch;
}

ul {

    margin-top: 2ch;
    font-family: cursive;
    background-color: rgba(55, 55, 248, 0.329);
    border-radius: 40pt;
    padding: 5ch;
    font-size: 20px;
}

em {
    font-weight: bold;

}

figure {

    width: 30vw;
    text-align: center;
    font-size: 3ch;
    border-radius: 40ch;
    background-color: rgba(0, 0, 0, 0.445);
}



img {

    height: 400px;
    border-radius: 50ch;
}

figcaption {
    background-color: rgb(179, 121, 14);
    width: 30vw;
    padding: 5px;
    border-radius: 30px;
    font-family: 'Lobster', cursive;
    font-weight: 500;
}
footer{
    text-align: center;
    font-weight: 900;
}